

    .enquiry-container2 {
      width: 100%;
      padding: 60px 20px;
      background: linear-gradient(90deg,#06c19b, #21c283, #06c39d);
      text-align: center;
    }

    .enquiry-container2 h2 {
      color: #fff;
      margin-bottom: 20px;
      font-size: 28px;
    }

    .enquiry-form2 {
      padding: 0 50px;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 15px;
      flex-wrap: wrap;
    }

    .enquiry-form2 input {
      padding: 12px 15px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      outline: none;
      width: 100%;
      max-width: 100%;
    }
    .enquiry-form2 input:focus {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .enquiry-form2 button {
      padding: 12px 25px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background: #000;
      color: #fff;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .enquiry-form2 button:hover {
      background: #333;
    }

    /* Responsive */

    @media (max-width: 768px) {
        .enquiry-container2 {
          padding: 40px 20px;
        }
      .enquiry-form2 {
        padding: 0px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 10px;
      }

      .enquiry-form2 input, 
      .enquiry-form2 button {
        width: 100%;
      }
    }

